[MASTER]
extension-pkg-whitelist=


unsafe-load-any-extension=no

ignored-modules=

redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io

[MESSAGES CONTROL]
disable=
    C0111,
    C0103,
    R0913,
    R0914,
    W0212,
    R0903,
    R0904,
    C0301,
    E1101,

[VARIABLES]
dummy-variables-rgx=_+$|^dummy_|^unused_

ignored-argument-names=_.*|^args$|^kwargs$

[FORMAT]
max-line-length=120
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,id

bad-names=foo,bar,baz,toto,tutu,tata

[DESIGN]
max-args=10

max-attributes=10

max-bool-expr=5

max-branches=20

max-locals=20

max-parents=7

max-public-methods=20

max-returns=6

max-statements=50

[IMPORTS]
allow-wildcard-with-all=no

[CLASSES]
defining-attr-methods=__init__,__new__,setUp,__post_init__

exclude-protected=_asdict,_fields,_replace,_source,_make

valid-classmethod-first-arg=cls

valid-metaclass-classmethod-first-arg=cls
